*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: ;
  line-height: ;
  color: #3f3f3f;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

li {
  list-style: none;
}

.bold-item {
  font-weight: 600;
}

.img {
  max-width: 100%;
  height: auto;
}

/* container */

.container {
  width: 100%;
  max-width: 2550px;
  margin: auto;
  padding: 20px;
}

/* Header */

.header {
  width: 100%;
  background: #373434;
}

.header-inner {
  color: #e7e7e7;
}

.header-left {
}

.avatar {
  border: 3px solid #e4e4e3;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 15px;

  font-size: 25px;
  line-height: 1.5;
}

.info-elem {
  padding: 0 2px;
}
.contact {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.5;
}

.header-link {
  text-decoration: none;
  color: #e7e7e7;
}

/* Main */
.main {
  background: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}
.about-me {
  width: ;
}

.flex {
}
