*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #3f3f3f;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 38px;
  }
}

li {
  list-style: none;
}

.bold-item {
  font-weight: 600;
}

.img {
  max-width: 100%;
  height: auto;
}

/* container */

.container {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  padding: 20px;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 42px;
  }
}

/* Header */

.header {
  width: 100%;
  background: #373434;
}

.header-inner {
  display: flex;
  flex-direction: column;
  color: #e7e7e7;
}

@media only screen and (min-width: 992px) {
  .header-inner {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1500px) {
  .header-inner {
    justify-content: space-between;
    align-items: center;
  }
}

.header-left {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .header-left {
    flex-direction: row;
    align-items: flex-start;
  }
  .header-right {
    position: absolute;
    left: 665px;
    top: 250px;
  }
}

@media only screen and (min-width: 1500px) {
  .header-right {
    position: static;
  }

  .header-left {
    align-items: center;
  }
}

.avatar {
  border: 3px solid #e4e4e3;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 15px;

  font-size: 25px;
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .info {
    flex-direction: column;

    font-size: 42px;
  }
}

@media only screen and (min-width: 768px) {
  .info {
    margin: 0 15px;
  }
}
@media only screen and (min-width: 1500px) {
  .info {
    line-height: 3;
  }
}

.info-elem {
  padding: 0 2px;
}

.contact {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .contact {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1500px) {
  .contact {
    line-height: 4;
  }
}

.header-link {
  text-decoration: none;
  color: #e7e7e7;
}

.header-link:hover {
  color: turquoise;
}

.header-link:active {
  color: rgb(69, 224, 64);
}

/* Main */
.main {
  background: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}

.section {
  margin: 10px 0;
}

@media only screen and (min-width: 600px) {
  .main {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1500px) {
  .flex {
    display: flex;
    flex-direction: row;
  }

  .row {
    width: 50%;
  }
}
