*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 41.67px;
  line-height: 66.67px;
}

h1 {
  font-size: 150px;
  line-height: 175px;
  font-weight: 600;
}

h2 {
  font-size: 83.33px;
  line-height: 58.33px;
  font-weight: 600;
}

h3 {
  font-size: 41.67px;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */

.container {
  max-width: 2555px;
  margin: 30px auto;
}

/* Header */

.header {
  background: #161b25;
}

.header-wrapper {
  display: flex;
  height: 1406px;
  padding-left: 272px;
  padding-top: 290px;
  padding-bottom: 180px;
}

.avatar {
  margin-right: 170px;
  border: 5px solid #ffffff;
}

.header-text {
  color: #ffffff;
}

.name {
  margin-bottom: 106px;
}

.contact {
  list-style: none;
}

.contact-elem {
  margin-bottom: 54px;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}
